[submodule "external/CxxThreadPool"]
	path = external/CxxThreadPool
	url = https://github.com/conradhuebler/CxxThreadPool.git
[submodule "external/fmt"]
	path = external/fmt
	url = https://github.com/fmtlib/fmt
[submodule "external/ripser"]
	path = external/ripser
	url = https://github.com/conradhuebler/ripser
[submodule "external/xtb"]
	path = external/xtb
	url = https://github.com/grimme-lab/xtb
[submodule "external/tblite"]
	path = external/tblite
	url = https://github.com/tblite/tblite
[submodule "external/LBFGSpp"]
	path = external/LBFGSpp
	url = https://github.com/conradhuebler/LBFGSpp
[submodule "external/cpp-d4"]
	path = external/cpp-d4
	url = https://github.com/conradhuebler/cpp-d4
[submodule "external/simple-dftd3"]
	path = external/simple-dftd3
	url = https://github.com/dftd3/simple-dftd3
[submodule "external/plumed2"]
	path = external/plumed2
	url = https://github.com/plumed/plumed2
